### This is the main.py file for the pyspark based code for DCONAP starts

In [1]:
# Importing PostgreSQL connection
import connections

In [2]:
pg_cursor = connections.postgres_connection(pg_host_nm='postgres',pg_port_nmbr=5432, pg_db_nm='DCONAP_DB', pg_usr_nm='dconap_user', pg_pswd='Iamsuperman339610')

2025-04-28 18:13:15,019 [INFO] Attempting to connect to PostgreSQL at postgres:5432, database: DCONAP_DB
2025-04-28 18:13:15,028 [INFO] Connection to PostgreSQL established successfully.

In [5]:
schema_nm: str = 'LOCATION'
# using the above string variable it will create a Schema
pg_cursor.execute(f"CREATE SCHEMA {schema_nm};")
print(f"Schema '{schema_nm}' created successfully.")

Schema 'LOCATION' created successfully.

In [3]:
tbl_nm = 'TIMEZONE'
schema_nm: str = 'LOCATION'
pg_cursor.execute(f'''CREATE TABLE IF NOT EXISTS {schema_nm}.{tbl_nm} (
                ID INT PRIMARY KEY,
                ZONE_NM VARCHAR(255) NOT NULL,
                GMT_OFF_SET INT NOT NULL,
                GMT_OFF_SET_NM VARCHAR(50) NOT NULL,
                ABBREVIATION VARCHAR(50),
                TZ_NM VARCHAR(255)
            );''')
print(f"{schema_nm}.{tbl_nm} created successfully.")

LOCATION.TIMEZONE created successfully.

In [5]:
tbl_nm = 'COUNTRY'
schema_nm: str = 'LOCATION'
pg_cursor.execute(f'''CREATE TABLE IF NOT EXISTS {schema_nm}.{tbl_nm} (
                ID INT PRIMARY KEY,
                NAME VARCHAR(255) NOT NULL,
                ISO3 VARCHAR(3) NOT NULL,
                ISO2 VARCHAR(2) NOT NULL,
                NUMERIC_CD INT NOT NULL,
                PHONE_CD VARCHAR(10),
                CAPITAL VARCHAR(255),
                CURRENCY VARCHAR(3),
                CURRENCY_NM VARCHAR(255),
                CURRENCY_SYBL VARCHAR(10),
                TID VARCHAR(10),
                NATIVE VARCHAR(255),
                REGION VARCHAR(255),
                REGION_ID INT,
                SUBREGION VARCHAR(255),
                SUBREGION_ID INT,
                NATIONALITY VARCHAR(255),
                TIMEZONE_CD INT,
                LATITUDE DECIMAL,
                LONGITUDE DECIMAL,
                EMOJI VARCHAR(10),
                EMOJIU VARCHAR(20),
                FOREIGN KEY (TIMEZONE_CD) REFERENCES LOCATION.TIMEZONE(ID)
            );''')
print(f"{schema_nm}.{tbl_nm} created successfully.")

LOCATION.COUNTRY created successfully.

In [6]:
schema_nm: str = 'LOCATION'
tbl_nm = 'STATE'

pg_cursor.execute(f'''CREATE TABLE IF NOT EXISTS {schema_nm}.{tbl_nm} (
                ID INT PRIMARY KEY,
                NAME VARCHAR(255) NOT NULL,
                COUNTRY_ID INT NOT NULL,
                COUNTRY_CD VARCHAR(50) NOT NULL,
                COUNTRY_NM VARCHAR(255),
                STATE_CD VARCHAR(50),
                TYPE VARCHAR(50),
                LATITUDE DECIMAL,
                LONGTITUDE DECIMAL,
                FOREIGN KEY (COUNTRY_ID) REFERENCES LOCATION.COUNTRY(ID)
            );''')
print(f"{schema_nm}.{tbl_nm} created successfully.")

LOCATION.STATE created successfully.

In [7]:
schema_nm: str = 'LOCATION'
tbl_nm = 'CITY'

pg_cursor.execute(f'''CREATE TABLE IF NOT EXISTS {schema_nm}.{tbl_nm} (
                ID INT PRIMARY KEY,
                NAME VARCHAR(255) NOT NULL,
                STATE_ID INT NOT NULL,
                STATE_CD VARCHAR(50) NOT NULL,
                STATE_NM VARCHAR(255),
                LATITUDE DECIMAL,
                LONGTITUDE DECIMAL,
                FOREIGN KEY (STATE_ID) REFERENCES LOCATION.STATE(ID)
            );''')
print(f"{schema_nm}.{tbl_nm} created successfully.")

LOCATION.CITY created successfully.